* {
    margin: 0px;                 
}

/* Set main colors */
/* Found rgb values through https://imagecolorpicker.com/en */
:root {
    --primary-color: rgb(51, 61, 69);
    --secondary-color: rgba(182, 204, 210, 255);   
}

/* Style header and its contents */
header {
    display: flex;                     /* turn header into flex container; heading & nav on same axis */
    justify-content: space-between;    /* spread out heading & nav */
    align-items: center;               /* position heading & nav in center of cross axis */
    height: 100px;
    background-color: var(--primary-color);
}

/* Style main heading */
h1 {
    font-size: 280%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px 10px 5px 15px;       
    margin-bottom: 5px;   
}

/* Style nav bar and list appearance */
nav ul {
    display: flex;                     /* position links on main axis */
    justify-content: space-between;
    list-style: none;                  /* remove bullet points */
    min-width: 440px;
    margin-right: 50px;
}

/* Style nav bar links */
nav a {
    font-size: 150%;
    color: var(--secondary-color);
    text-decoration: none;             /* remove underlining */
    border-bottom: 4px solid;          /* add bottom border */
}

/* Turn main content into flex container; stack "About", "Work" and "Contact" sections */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.5;
    color: var(--primary-color);
    margin-top: 10px;
}

/* Style and position left hand content of each section */
aside {
    display: flex;    
    justify-content: flex-end;                 
    align-items: center;               /* align heading in center of cross axis */
    width: 20%;
    font-size: 260%;
    padding-right: 40px;
}

article {
    max-width: 75%;
}

/* Style and position background image */
.background-image {
    background-image: url(../images/background-image.png);
    height: 300px;
    background-size: cover;            /* image fills entire page */
    display: flex;                     
    flex-wrap: wrap;                
    justify-content: flex-end;         /* initial position of profile photo and caption on left */
    position: relative;               
}

/* Style and position profile photo */
.profile-photo {
    max-width: 210;
    max-height: 210px;
    position: absolute;                /* fix profile photo to background image */
    top: 50px;
    left: 50px;
    border-radius: 30%;
    background-color: var(--primary-color);
;}

/* Style caption on background image */
.background-image-caption {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 200%;
    max-height: 45px;
    text-align: center;
    margin-top: 230px;
    margin-right: 100px;
    padding: 5px;
}

/* Turn top, middle and bottom sections of main into flex containers */
.section-container {
    display: flex;
    margin: 15px;
}

/* Style and position right side content of each section */
.right-side-content {
    width: 80%;
}

.box:hover {
    opacity: 20%;
}

/* Size and position project images */
.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

/* Style and position project boxes */
.box-caption {
    position: absolute;                   /* fix caption to box */
    margin-top: -80px;
    padding: 5px;
    background-color: var(--secondary-color);
}

/* Set color for project text */
.box-link {
    color: var(--primary-color);
}

/* Position contact content */
.contact-list-items {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

/* Style contact links */
.contact-list-items a {
    font-size: 130%;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 4px solid;
    margin: 5px;
}

/* Create grid of boxes */
#project-grid {
    display: grid;
    grid-template-columns: 50% 50%;     /* create two columns of boxes */
    grid-gap: 15px;                     /* put space between boxes */
    max-width: 70%;
}

/* Resize top box to take up 2 columns instead of 1 */
#large-box {
    grid-column: span 2;
    height: 700px;
    border: 7px solid var(--secondary-color);
}

/* Style 4 small boxes */
#small-box {
    height: 250px;
    border: 5px solid var(--secondary-color);
}

/* Style elements for responsiveness */
@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
      margin-right: -10px;
    }

    h1 {
      font-size: 200%;
      margin-top: 10px;
      margin-left: -20px;
    }
  
    nav ul {
      min-width: 250px;
      margin-right: 5px;
      margin-top: -30px;
      }

    nav a {
      font-size: 80%;
    }

    aside {
        padding: 0px;
        justify-content: flex-start;
        font-size: 180%;
    }

    article {
        max-width: 100%;
        font-size: 14px;
    }
    /* stack profile photo and caption */
    .background-image {
        flex-direction: column;
        height: 200px;
    }

    .profile-photo {
        max-width: 140px;
        max-height: 140px;
        margin-top: -40px;
        margin-left: -30px;
    }

    .background-image-caption {
        font-size: 120%;
        max-width: 210px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    /* stack aside and .right-side-content */
    .section-container {
        flex-direction: column;  
    }

    .box-caption {
        font-size: 10px;
        margin-top: -60px;
    }

    .contact-list-items {
        flex-direction: column;
        margin-top: -20px;
        margin-left: 5px;
    }

    .contact-list-items li {
        font-size: 12px;
    }
    /* resize boxes in grid */
    #project-grid {
        max-width: 100%;
    }

    #large-box {
        max-height: 300px;
    }

    #small-box {
        max-height: 150px;
    }
}